.cartContainer {
    width: 1280px;
    margin: 0 auto;
    .checkbox {
        width: 20px;
        height: 20px;
    }
    .goodsList {
        width: 100%;
        margin-bottom: 20px;
        border: solid 1px #ccc;
        background: #fff;
        text-align: center;
        thead {
            color: #fff;
            background-color: #605f5f;
            tr {
                height: 40px;
            }
        }
        tbody {
            tr {
                width: 100%;
                border-bottom: solid 1px #e9e9e9;
                .goodsItem {
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    .goodsPic {
                        width: 78px;
                        height: 78px;
                        margin: 15px;
                        border: solid 1px #e9e9e9;
                    }
                }
                .delete {
                    color: #eb767d;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #e9e9e9;
        background-color: #fff;
        margin-bottom: 80px;
        height: 66px;
        padding-left: 20px;
        .selectAll,
        .total {
            display: flex;
            align-items: center;
            .checkbox {
                margin-right: 15px;
            }
            .totalPrice {
                margin: 0 30px 0 6px;
                font-size: 1.25em;
                font-weight: bold;
                color: #d1434a;
            }
            button {
                border: none;
                outline: none;
                display: inline-block;
                background-color: #d1434a;
                height: 66px;
                font-weight: bold;
                color: #fff;
                width: 140px;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
}
