footer {
    border-top: 1px solid rgba(51, 51, 51, 0.15);
    font-size: 14px;
    padding: 15px 0;
    .content {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
