.headerContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background-color: #fff;
    .content {
        width: 1280px;
        margin: 0 auto;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avatar {
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .user {
            display: flex;
            justify-items: center;
            color: #605f5f;
            .log {
                cursor: pointer;
                margin-left: 15px;
                &:hover {
                    color: #d1434a;
                }
            }
            .cart {
                margin-left: 20px;
                position: relative;
                padding-right: 14px;
                cursor: pointer;
                .cartIcon {
                    width: 25px;
                    height: 20px;
                }
                .cartNum {
                    border-radius: 50%;
                    line-height: 22px;
                    text-align: center;
                    background: #eb767d;
                    color: #fff;
                    width: 22px;
                    height: 22px;
                    font-weight: bold;
                    font-size: 18px;
                    position: absolute;
                    right: 0;
                    top: -10px;
                }
            }
        }
    }
}
